@using UI.SharedComponents.Dashboard

<div class="card card-custom">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <ProgramReportsByUniversity />
            </div>
            <div class="col-md-4">
                <ProgramsCountByAuthorizationCategory />
            </div>
            <div class="col-md-4">
                <ProgramCountByInsProfession />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <EducatorCountByUniversity />
            </div>
            <div class="col-md-4">
                <EducatorChart />
            </div>
            <div class="col-md-4">
                <EducatorCountByInsProfession />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <StudentChart />
            </div>
            <div class="col-md-4">
                <StudentByExamTypeChart />
            </div>
            <div class="col-md-4">
                <StudentCountByInsProfession />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <UniversityReports />
            </div>
            <div class="col-md-4">
                <AffiliationReports />
            </div>
            <div class="col-md-4">
                <UniversityHospitalByInstitutionReports />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <CountsByParentInstitutionChart />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <StudentQuotaChart />
            </div>
        </div>
    </div>
</div>