@using Shared.Types
@using UI.SharedComponents.Components
@using Shared.ResponseModels
@page "/management/province/{Id:long?}"
@inherits FluxorComponent

<AppContent IsFluid="false" BreadCrumbLinks="_links">
    <Toolbar>
        <div class="d-flex">
            <PermissionWrapper Permissions="new List<PermissionEnum>(){PermissionEnum.ProvinceUpdate}">
                <SpinnerButton Spinning="_saving" Disabled="_saving" OnClick="() => Save()">
                    <i class="fas fa-save"></i>@L["Save"]
                </SpinnerButton>
            </PermissionWrapper>
        </div>
    </Toolbar>
    <Content>
        <div class="card card-custom">
            <div class="card-body">
                @if (_loaded)
                {
                    if (!_notFound)
                    {
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <EditForm EditContext="_ec">
                                    <FluentValidator TValidator="ProvinceValidator"></FluentValidator>
                                    <div class="form-group">
                                        <label>@L["_name", L["Province"]]</label>
                                        <InputText class="form-control" @bind-Value="_province.Name" />
                                        <ValidationMessage For="() => _province.Name"></ValidationMessage>
                                    </div>
                                </EditForm>
                            </div>
                        </div>
                    }
                    else
                    {
                        <_404Page ErrorText="No Records Found" ButtonText="Return Back" ReturnLink="/management/provinces"></_404Page>
                    }
                }
                else
                {
                    <Spinner></Spinner>
                }
            </div>
        </div>
    </Content>
</AppContent>