@page "/CookiePolicy_tr"
<AppContent Title="@L["Cookie Policy"]" IsFluid="true">
    <Content>

        <div class="card card-custom">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-12">
                        <div style="margin-top:12px; text-align:center;font-size:18px;">
                            <strong>T.C. SAĞLIK BAKANLIĞI ÇEREZ POLİTİKASI</strong>
                        </div>
                        <div style="text-align: justify; margin-top:20px;">
                            <p style="margin-top:12px;">
                                Bu politika https://ueys.saglik.gov.tr internet sitesini ziyaret eden kullanıcılara çerez kullanım esaslarımız hakkında bilgi vermek amacıyla hazırlanmıştır.
                            </p>
                            <p style="margin-top:12px;">
                                <strong>1. ÇEREZ NEDİR?</strong>
                            </p>

                            <p>
                                İnternet sitelerinin cihazlarınıza kaydettiği küçük boyutlu ve kullanıcıları tanımlamaya yarayan veri dosyalarıdır. Çerezler internet siteleri tarafından kullanıcıların tanımlanması ve onlara özel hizmet sunulması amacıyla kullanılır.
                            </p>

                            <p style="margin-top:12px;">
                                <strong>2. ÇEREZ KULLANIMI</strong>
                            </p>
                            <p>
                                https://ueys.saglik.gov.tr/ internet sitesinde, kullanıcılara en iyi deneyimi sunmak için çerezler kullanılmaktadır.
                            </p>
                            <p style="margin-top:12px;">
                                <strong>Hangi Tür Çerezler Kullanıyoruz?</strong>
                            </p><ul>
                                <li>İnternet sitesinin çalışması için gerekli çerezler (Oturum Çerezleri)</li>
                                <li>Kullanıcı deneyimini geliştirmemize olanak sağlayan çerezler (İşlev Odaklı Çerezler)</li>
                                <li>İnternet sitemizde yer alan içeriklerin kullanıcılar tarafından nasıl ve ne sıklıkla kullanıldığını anlamak, analiz etmek ve sunulan içeriklerin iyileştirilmesini sağlamak amacıyla kullanılan performans çerezleri (Performans ve İstatistik Çerezleri)</li>
                            </ul>
                            <p></p>
                        </div>
                        <div>
                            <p style="margin-top:20px;">
                            </p><table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Çerez Sağlayıcı</th>
                                        <th>Çerez İsmi</th>
                                        <th>Çerez Amacı</th>
                                        <th>Çerez Türü</th>
                                        <th>Çerezlerin Tarayıcıda Tutulduğu Süre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Google Analytics</td>
                                        <td>_gid</td>
                                        <td>Kullanıcıları ayırt etmek için kullanılan çerezdir.</td>
                                        <td>Performans ve İstatistik Çerezi, Üçüncü Taraf Çerezleri</td>
                                        <td>24 Saat</td>
                                    </tr>
                                    <tr>
                                        <td>Google Analytics</td>
                                        <td>_gat_gtag_UA_47362495_11</td>
                                        <td>İstek oranını kısaltmak için kullanılan çerezdir.</td>
                                        <td>Fonksiyonellik</td>
                                        <td>1 Dakika</td>
                                    </tr>
                                    <tr>
                                        <td>Google Analytics</td>
                                        <td>_ga</td>
                                        <td>İstatistiksel verinin oluşturulması amacıyla kullanıcıları ayırt etmek üzere kullanılan çerezdir.</td>
                                        <td>Performans ve İstatistik Çerezi, Üçüncü Taraf Çerezleri</td>
                                        <td>2 Yıl</td>
                                    </tr>
                                    <tr>
                                        <td>ueys.saglik.gov.tr</td>
                                        <td>__RequestVerificationToken</td>
                                        <td>Web uygulamaları tarafından yetkisiz içerik gönderilmesini engelleyen bir çerezdir.</td>
                                        <td>Oturum Çerezi</td>
                                        <td>8 Dakika</td>
                                    </tr>
                                    <tr>
                                        <td>ueys.saglik.gov.tr</td>
                                        <td>.AspNet.ApplicationCookie</td>
                                        <td>Oturum açma tipini tutar.</td>
                                        <td>Oturum Çerezi</td>
                                        <td>8 Dakika</td>
                                    </tr>
                                    <tr>
                                        <td>ueys.saglik.gov.tr</td>
                                        <td>.ASPXAUTH</td>
                                        <td>Bir kullanıcı kimliğinin doğrulanmış olup olmadığını belirlemek için kullanılır.</td>
                                        <td>Oturum Çerezi</td>
                                        <td>8 Dakika</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p></p>

                            <p style="margin-top:12px;">
                                <strong>3. ÇEREZ YÖNETİMİ</strong>
                            </p>
                            <p>
                                İnternet sitemize erişim sağladığınız cihaz üzerinde çerez tutulmasını istemiyorsanız tarayıcınızın ayarları üzerinden çerez kullanımını engelleyebilir, sınırlayabilir ve silebilirsiniz. Bu tercihlerinizi sonradan değiştirmeniz de mümkündür.
                                <br>
                                İnternet sitemize farklı cihazlar üzerinden erişim sağlıyorsanız, erişim sağladığınız her bir cihaz ve tarayıcı üzerinde çerez kullanım ayarlarını tercihlerinize uygun olarak aşağıdaki bağlantılar üzerinden gerçekleştirebilirsiniz.
                            </p>
                            <br>
                            <p>
                                Kullanıcı olarak eğer çerez kullanımını önlemek istiyorsanız;
                            </p>
                            <p style="margin-top:20px;">
                            </p><table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Google Analytics</td>
                                        <td>
                                            <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">https://tools.google.com/dlpage/gaoptout</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Google Chrome</td>
                                        <td>
                                            <a href="https://support.google.com/accounts/answer/61416?co=GENIE.Platform%3DDesktop&amp;hl=tr" target="_blank">https://support.google.com/accounts/answer/61416?co=GENIE.Platform%3DDesktop&amp;hl=tr</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Internet Explorer</td>
                                        <td>
                                            <a href="https://support.microsoft.com/tr-tr/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank">https://support.microsoft.com/tr-tr/help/17442/windows-internet-explorer-delete-manage-cookies</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Mozilla Firefox</td>
                                        <td>
                                            <a href="https://support.mozilla.org/tr/kb/cerezleri-silme-web-sitelerinin-bilgilerini-kaldirma" target="_blank">https://support.mozilla.org/tr/kb/cerezleri-silme-web-sitelerinin-bilgilerini-kaldirma</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Opera</td>
                                        <td>
                                            <a href="https://help.opera.com/en/latest/web-preferences/" target="_blank">https://help.opera.com/en/latest/web-preferences/</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Safari</td>
                                        <td>
                                            <a href="https://support.apple.com/tr-tr/HT201265" target="_blank">https://support.apple.com/tr-tr/HT201265</a>
                                            <br>
                                            <a href="https://support.apple.com/tr-tr/guide/safari/sfri11471/mac" target="_blank">https://support.apple.com/tr-tr/guide/safari/sfri11471/mac</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Content>
</AppContent>