@page "/CookiePolicy_en"
<AppContent Title="@L["Cookie Policy"]" IsFluid="true">
    <Content>

        <div class="card card-custom">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-12">
                        <div style="margin-top:12px; text-align:center;font-size:18px;">
                            <strong>REPUBLIC OF TURKEY MINISTRY OF HEALTH COOKIE POLICY</strong>
                        </div>
                        <div style="text-align: justify; margin-top:20px;">
                            <p style="margin-top:12px;">
                                This policy has been prepared to inform users visiting the https://ueys.saglik.gov.tr website about our cookie usage principles.
                            </p>
                            <p style="margin-top:12px;">
                                <strong>1. WHAT IS A COOKIE?</strong>
                            </p>

                            <p>
                                Cookies are small-sized data files that websites save on users’ devices and are used to identify users. Cookies are used by websites to identify users and provide tailored services to to these identified users.
                            </p>

                            <p style="margin-top:12px;">
                                <strong>2. REPUBLIC OF TURKEY MINISTRY OF HEALTH COOKIE USAGE</strong>
                            </p>
                            <p>
                                Cookies are used on the https://ueys.saglik.gov.tr/  website to provide users with the best experience.
                            </p>
                            <p style="margin-top:12px;">
                                <strong>What Types of Cookies Do We Use?</strong>
                            </p><ul>
                                <li>Cookies necessary for the website to work (Session Cookies)</li>
                                <li>Cookies that allow us to improve the user experience (Function Oriented Cookies)</li>
                                <li>Performance cookies used to understand and analyze how and how often the content on our website is used by users to improve the content offered. (Performance and Statistics Cookies)</li>
                            </ul>
                            <p></p>
                        </div>
                        <div>
                            <p style="margin-top:20px;">
                            </p><table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Cookie Provider</th>
                                        <th>Name of the Cookie</th>
                                        <th>Purpose of the Cookie</th>
                                        <th>Type of the Cookie</th>
                                        <th>The time Cookies are retained in the browser</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>ueys.saglik.gov.tr</td>
                                        <td>_gid</td>
                                        <td>Google analytics</td>
                                        <td>Functionality</td>
                                        <td>Max. 1 day</td>
                                    </tr>
                                    <tr>
                                        <td>ueys.saglik.gov.tr</td>
                                        <td>_gat_gtag_UA_47362495_11</td>
                                        <td>Google analytics</td>
                                        <td>Functionality</td>
                                        <td>Max. 1 minute</td>
                                    </tr>
                                    <tr>
                                        <td>ueys.saglik.gov.tr</td>
                                        <td>_ga</td>
                                        <td>Google analytics</td>
                                        <td>Session Cookie</td>
                                        <td>Max. 1 minute</td>
                                    </tr>
                                    <tr>
                                        <td>ueys.saglik.gov.tr</td>
                                        <td>__RequestVerificationToken</td>
                                        <td>User authentication</td>
                                        <td>Session Cookie</td>
                                        <td>Max. 8 minute</td>
                                    </tr>
                                    <tr>
                                        <td>ueys.saglik.gov.tr</td>
                                        <td>.AspNet.ApplicationCookie</td>
                                        <td>Login type</td>
                                        <td>Session Cookie</td>
                                        <td>Max. 8 minute</td>
                                    </tr>
                                    <tr>
                                        <td>ueys.saglik.gov.tr</td>
                                        <td>.ASPXAUTH</td>
                                        <td>User authentication</td>
                                        <td>Session Cookie</td>
                                        <td>Max. 8 minute</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p></p>

                            <p style="margin-top:12px;">
                                <strong>3. COOKIE MANAGEMENT</strong>
                            </p>
                            <p>
                                If you do not want cookies to be kept on the device that you use to access our website, you can prevent and limit the use of cookies through your browser settings. Besides, you can delete the previously saved cookies from your device through your browser settings. It is also possible to change these preferences later.
                                <br>
                                   </p>
                            If you access our website through different devices, you can set the cookie usage settings on each device and browser you access, in accordance with your preferences, via the links below.
                            <br>
                            <p>
                                As a user, if you want to prevent the use of cookies;
                            </p>
                            <p style="margin-top:20px;">
                            </p><table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Google Analytics</td>
                                        <td>
                                            <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">https://tools.google.com/dlpage/gaoptout</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Google Chrome</td>
                                        <td>
                                            <a href="https://support.google.com/accounts/answer/61416?co=GENIE.Platform%3DDesktop&amp;hl=tr" target="_blank">https://support.google.com/accounts/answer/61416?co=GENIE.Platform%3DDesktop&amp;hl=tr</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Internet Explorer</td>
                                        <td>
                                            <a href="https://support.microsoft.com/tr-tr/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank">https://support.microsoft.com/tr-tr/help/17442/windows-internet-explorer-delete-manage-cookies</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Mozilla Firefox</td>
                                        <td>
                                            <a href="https://support.mozilla.org/tr/kb/cerezleri-silme-web-sitelerinin-bilgilerini-kaldirma" target="_blank">https://support.mozilla.org/tr/kb/cerezleri-silme-web-sitelerinin-bilgilerini-kaldirma</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Opera</td>
                                        <td>
                                            <a href="https://help.opera.com/en/latest/web-preferences/" target="_blank">https://help.opera.com/en/latest/web-preferences/</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Safari</td>
                                        <td>
                                            <a href="https://support.apple.com/tr-tr/HT201265" target="_blank">https://support.apple.com/tr-tr/HT201265</a>
                                            <br>
                                            <a href="https://support.apple.com/tr-tr/guide/safari/sfri11471/mac" target="_blank">https://support.apple.com/tr-tr/guide/safari/sfri11471/mac</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Content>
</AppContent>