@using ApexCharts;
@using Shared.ResponseModels.Student;
@inherits FluxorComponent
@if (_chartLoaded)
{
        <div class="card card-custom card-stretch gutter-b bg-diagonal bg-diagonal-light-success">
            <div class="card-body">
    <div style="overflow-x:auto;overflow-y:auto">
                <ApexChart  @ref=_apexChart TItem="StudentCountByProperty"
                           Title="Sınav Tipine Bağlı Öğrenci Sayısı" Height="500"
                           Options="_options">
                    <ApexPointSeries TItem="StudentCountByProperty"
                                     Items="studentsCounts"
                                     Name="Bağlı Öğrenci Sayısı"
                                     XValue="@(e => {
                                       string lcl = L[e.Value];
                                       return lcl;
                                   })"
                                     YAggregate="@(e => e.Sum(e => e.Count))"
                                     SeriesType="SeriesType.Donut" />
                </ApexChart>
            </div>
        </div>
    </div>
}
else
{
    <ChartLoading />
}