.login.login-2 .form {
  -webkit-box-shadow: 0px 0px 80px 0px rgba(77, 84, 124, 0.09);
  box-shadow: 0px 0px 80px 0px rgba(77, 84, 124, 0.09);
}
.login.login-2 .login-signin,
.login.login-2 .login-signup,
.login.login-2 .login-forgot {
  width: 100%;
  display: none;
}

.login-form-part{
    display:none !important;
}
.login-form-part-on{
    display:block !important;
}