@inherits FluxorComponent

<button title="@Title" class="btn @ButtonClass @(Spinning ? "disabled spinner " + SpinnerClass : "")" type="@Type" @onclick="OnClickHandler" disabled="@Disabled">
    @ChildContent
</button>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public bool Spinning { get; set; }
    [Parameter] public bool Disabled { get; set; }
    [Parameter] public string ButtonClass { get; set; } = "btn-primary";
    [Parameter] public string SpinnerClass { get; set; } = "spinner-white spinner-right";
    [Parameter] public string Title { get; set; }
    [Parameter]
    public string Type { get; set; } = "button";
    [Parameter] public Action OnClick { get; set; }

    private void OnClickHandler()
    {
        if (!Spinning || !Disabled)
        {
            OnClick?.Invoke();
        }
    }
}